<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%= link_to "Accomodation", "/accomodation" %>
<%= link_to "Whats going", "/itinerary" %>
<%= link_to "Wedding", "/wedding" %>
<%= link_to "Things to do", "/local" %>
<%= link_to "Contact Us", "/contact" %>
<%= link_to "Gifts", "/gifts" %>
<%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("25694.png") %>
      <% end %>
</div>
