<div class="main">
  <div class="mainpage">

    <div class="home-cards">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("1.png", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("2.png", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("3.png", class: "d-block w-100") %>
    </div>
  </div>
</div>

    </div>


    <div class="holders">
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/41/66/41662_v5.jpeg)">
        <%= link_to "Accomodation", "/accomodation" %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn0.casamentos.pt/emp/fotos/7/1/4/9/mnz5vqhn_6_87149.jpg)">
        <%= link_to "Whats going", "/itinerary" %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn0.casamentos.pt/emp/fotos/7/1/4/9/24665-621587561189101-932279842-n_6_87149.jpg)">
        <%= link_to "Wedding", "/wedding" %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.visitportugal.com/sites/default/files/styles/encontre_detalhe_poi_destaque/public/mediateca/FB_2017-06-21_Santarem_shutterstock_421438771_Santarem%2C%20Portugal_660x371.jpg?itok=G1MRRUaW)">
        <%= link_to "Things to do", "/local" %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.canterbury-cathedral.org/cathedral/main/top/2011/06/contactus.jpg)">
        <%= link_to "Contact Us", "contact" %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.verdict.co.uk/wp-content/uploads/2018/11/unicorn-christmas-gift-guide-1440x1073.jpg)">
        <%= link_to "Gifts", "gifts" %>
        </div>

      </div>
    </div>

  </div>

</div>
